<div class="clicked_project">
	<h1>Clicked Project:</h1>

	<h3><b>Title:</b><br>{{project.title}}</h3>
	<p><b>Description:</b><br>{{project.description}}</p>
	<p><b>Technological Skills:</b><br> {{project.technology}}</p>
	<p><b>Creator:</b><br>{{this.username}}</p>

	<button class="contact_user">Contact {{this.first_name}}</button>
</div>